
#right_buttons{
  display: flex;
	flex-direction: row;
	justify-content: left;
  /*align-items: stretch;*/
}
#left_buttons{
  display: flex;
	flex-direction: row;
	justify-content: right;
  /*align-items: stretch;*/
}
#center_button{
  display: flex;
  /*text-align: center;*/
	flex-direction: row;
	justify-content: center;
  /*align-items: stretch;*/
}
