/*to format the header*/

* {background-color: pink}
* {font-family: Courier, monospace;}
=======
* {background-color: #FFD3D3}

#header {
  width: 100%;
  height: 100px;
}

#home-link-img {
  height: 100%;
  float: left;
}

#about-us-link {
  float: right;
  font-family: sans-serif;
}

#right_buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /*align-items: stretch;*/
}

#left_buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  /*align-items: stretch;*/
}

#center_button {
  display: flex;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  position: fixed;
}

#choose_charity_button {
  text-align: center;
  background-color: #F2D2BD;
  border: 2mm ridge rgba(255, 255, 255, .6);
  padding: 5px;
  width: 150px;
  height: 50px;
}


#about_charity_div {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border: 2mm ridge rgba(255, 255, 255, .6);
  padding: 10px;
  position: absolute;
  z-index: 10;
}

#table {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  padding: 0px;
}

th, td {
  /*padding: 50px;*/
  /*padding-left: 200px;*/
  /*td{width: 75%};*/
  /*tr{width: 100%};*/
  width: 200px;
}


#charity1_button{
  background-image:url("https://cdn.discordapp.com/attachments/521606218930847786/1043275904379523112/IMG_0304.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}

#charity2_button{
  background-image:url("https://media.discordapp.net/attachments/521606218930847786/1043275904136261662/IMG_0305.png?width=886&height=498");
  background-size: cover;
  width:250px;
  height: 150px;
}

#charity3_button{
  background-image:url("https://media.discordapp.net/attachments/521606218930847786/1043275903897182218/IMG_0306.png?width=886&height=498");
  background-size: cover;
  width:250px;
  height: 150px;
}

#charity4_button{
  background-image:url("https://media.discordapp.net/attachments/521606218930847786/1043275903670693928/IMG_0307.png?width=886&height=498");
  background-size: cover;
  width:250px;
  height: 150px;
}
