/*to format the header*/

* {font-family: Courier, monospace;color:  black;;}
=======

#header {
  width: 100%;
  height: 100px;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed3dcaf3-1a12-49e8-9651-41e95f1dd71d/dfj7t1j-74182011-0539-4b4a-a16c-023cec7aeb67.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VkM2RjYWYzLTFhMTItNDllOC05NjUxLTQxZTk1ZjFkZDcxZFwvZGZqN3Qxai03NDE4MjAxMS0wNTM5LTRiNGEtYTE2Yy0wMjNjZWM3YWViNjcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FGQEFAYYAaxMTuzvA6Morz7xAH-NelKi93iFUC2zs9k");
  background-size: cover;
}

#home-link-img {
  height: 100%;
  float: left;
}

#about-us-link {
  float: left;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: none;
}

#about_charity_div{
  opacity: none;
}
#icon {
  padding: 10px;
  text-align: right;
}

#right_buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /*align-items: stretch;*/
}

#left_buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  /*align-items: stretch;*/
}

#center_button {
  display: flex;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  position: fixed;
}

#choose_charity_button {
  text-align: center;
  background-color: #F2D2BD;
  border: 2mm ridge rgba(255, 255, 255, .6);
  display: inline-block
  padding: 5px;
  width: 150px;
  height: 50px;
}


#about_charity_div {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  /*border: 2mm ridge rgba(255, 255, 255, .6);*/
  padding: 10px;
  position: absolute;
  z-index: 10;
}

#table {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-70%);
  padding: 5px;
}

th, td {
  width: 200px;
}


#charity1_button{
  background-image:url("https://cdn.discordapp.com/attachments/1029075511974047765/1049078145581592607/Untitled_Artwork_6.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}

#charity2_button{
  background-image:url("https://cdn.discordapp.com/attachments/1029075511974047765/1049078144969220237/Untitled_Artwork_3.png");
  background-size: cover;
  width:250px;
  height: 150px;
}

#charity3_button{
  background-image:url("https://cdn.discordapp.com/attachments/1029075511974047765/1049078144830820392/Untitled_Artwork_4.png");
  background-size: cover;
  width:250px;
  height: 150px;
}

#charity4_button{
  background-image:url("https://cdn.discordapp.com/attachments/1029075511974047765/1049078144902107176/Untitled_Artwork.png");
  background-size: cover;
  width:250px;
  height: 150px;
}



/*to be moved to charities .css*/
#progress-bar img{
    width: 10%;
    height: 300px;
    float: right;
}
